/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: calc(100vh - 50px);
  width: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding-top: 25px;
  font-family: 'Lato', sans-serif;
}

.registration-login-title {
  color : white;
}

.nav-title {
  color : white;
}

.nav-title:hover {
  color : #FCCA46;
}

.container-fluid-map {
  padding-right: 0;
}

.col-map {
  position: fixed;
  right: 0;
  padding-right: 0;
}

.navbar-default {
  background-color: #619B8A;
  border-color: #619B8A;
  margin-bottom: 0;
}

.navbar {
  border-radius: 0;
}

.navbar-default .navbar-text {
  color: #FCCA46;
}

.navbar-default .navbar-brand {
  font-size: 25px;
  color : white;
}

.navbar-default .navbar-brand:hover {
  color : #FCCA46;
}

.navbar-logo {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 8px;
}

.btn-navbar-custom {
  color: #fff;
  background-color: #fff0;
  border-color: #fff;
  width: 100px;
}

.btn-navbar-custom:hover {
  color: #FCCA46;
  background-color: #fff0;
  border-color: #FCCA46;
  width: 100px;
}

.attraction-info, .note-content {
  list-style-type:none;
}

.note-content:before {
  content: "\e142";
  font-family: 'Glyphicons Halflings';
  font-size: 12px;
  float: left;
  margin-top: 4px;
  margin-left: -17px;
  color: #619B8A;
}

.note-para {
  color: #555653;
}

.btn-hidden-input-field {
  background-color: transparent; 
  border: none;
  border-color: transparent;
}

.btn-hidden-input-field:focus {
  outline: none;
  background-color: #e5e6e4;
}


.btn-del-minus-mark {
  font-size: 10px;
}

.marker-container {
  display: inline-block;
  position: relative;
  text-align: center;
  color: black;
}

.marker-digit {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*.scrollable-area {
  width: 100%;
  height: 550px;
  overflow: scroll;
}*/

.attraction-area{
  margin-left: 10px;
  margin-right: 10px;
}

.popover {
  max-width: 500px;
}

.crop {
  height: 120px;
  width: 120px;
  overflow: hidden;
  margin-right: 0;
  margin-left: auto;
}

.crop img {
  height: auto;
  width: 120px;

}

.note-list {
  padding-left: 10px;

}

.note-icon {
  color: #FE7F2D;
}

.attraction-title {
  color: #233D4D;
  font-size : 16px;
}

.thumbnail-style {
  display: block;
  padding: 12px 10px;
  margin-bottom: 0px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 0px;
  border-bottom: 1px solid #ddd;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-left: 15px;
  margin-right: 15px;
}

.thumbnail-row {
  margin-right: 0;
  margin-left: 0;
  background-color: #fafafa;

}

.thumbnail .caption {
    cursor: pointer;
}

.textarea-edit {
  resize: none;
  background-color: #fdf9f0;
  border: none;
  color: #555653;
}

.textarea-edit:focus{
  outline: none;
  background-color: #e5e6e4;
}

.recommeded-atts {
  padding: 10px;
  border-bottom: 1px solid #ddd;

}

.recommended-level {
  font-size: 16px;
  font-weight: 600;
}

.btn-recommended-atts {
  color: #233D4D;
  margin-bottom: 5px;
  border: 0;
  background-color: #FCCA46;
}

.edit-trip-title {
  font-weight: 900;
  font-size: 24px;
  font-style: italic;
  color: #619B8A;
}

.dest-title {
  font-size: 18px;
  font-weight: 300;
  color: #233D4D;
/*  background-color: #FCCA46;
  line-height: 36px;
  display: inline-block;
  padding-left: 10px;
  color:#619B8A;*/

}

.attraction-box {
  border-left: 6px solid #FCCA46;
}

.toggle-dest-content:hover {
  color:#619B8A;
}


.dest-starts {
  margin-top: 12px;
  margin-bottom: 12px;
}

.btn-helper {
  color: #619B8A;
  background-color: #fff;
  border-color: #619B8A;
}

.new-dest-input {
  background-color: #e5e6e4;
  border: none;
}

.modal-title-area {
  background-color: #619B8A;
  color : #fff;
}

.trip-card{
  float: left;
  width: 150px;
  margin: 10px;
}

.dashboard-trip-title{
  background-color: #fff;
  padding: 5px 10px;
  font-size: 3.0rem;
  font-style: italic;
  font-weight: 900;
  line-height: 3.2rem;
}

.greeting-user-area {
  margin-top: 20px;
  margin-bottom: 20px;
}

.greeting-user {
  background-color: #fff;
  padding: 5px 10px;
  font-size: 3.2rem;
  font-style: italic;
  font-weight: 900;
  line-height: 3.2rem;
}

.trip-panel {
  height: 70px;
  padding: 5px 5px 5px 15px;
  border-radius: 0px;
  background-color: #fcca46;
  border-left: 10px solid #fe7f2d9c;
}

.trip-panel-new {
  height: 70px;
  border-radius: 0px;
  background-color: #fcca46;
  border-left: 10px solid #fe7f2d9c;
}

.btn-edit-trip {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #619B8A;
  text-shadow: 0 1px 0 #fff;
  padding-top: 15px;
  float: right;
}

.btn-edit-trip:hover {
  color: #36bf97;
}

.trip-name {
  padding-top: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.6rem;
}

.trip-name a:hover {
  text-decoration: none;
  color: #FE7F2D;
}

.trip-panel-new input {
  border: none;
  background-color: #f7efd9;
}

.trip-panel-new input:focus {
  outline: none;
  background-color: #e5e6e4;
}


