<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GooTrip!</title>
  <link rel="stylesheet" 
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="icon" href="/static/546735.png">
  <link rel="stylesheet" href="/static/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- jQuery autocomplete UI -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <style type="text/css">

  </style>

{% block head %}
    <!-- put extra CSS/JS here -->
{% endblock %}
</head>

<body>
  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="col-xs-12 col-md-4">
        <div class="navbar-header">
            {% if "user_id" not in session %}
              <a class="navbar-brand navbar-logo" href="/">
                <img src='/static/546735.png' alt="brand-icon" height="40" width="40" style="display: inline-block;"></a>
              <a class="navbar-brand" href="/">
                <span style="display: inline-block;">GOOTRIP</span></a>
            {% else %}
              <a class="navbar-brand navbar-logo" href="/dashboard/{{ session['user_id'] }}">
                <img src='/static/546735.png' alt="brand-icon" height="40" width="40" style="display: inline-block;"></a>
              <a class="navbar-brand" href="/dashboard/{{ session['user_id'] }}">
                <span style="display: inline-block;">GOOTRIP</span></a>
            {% endif %}
            <p class="navbar-text">
              {% for flash in get_flashed_messages() %}
                {{ flash }}
              {% endfor %}
            </p>
        </div>
      </div>

      <div class="col-xs-12 col-md-8">
        <ul class="nav navbar-nav navbar-right">
          {% block dropdown %}

          {% endblock %}
          <!-- Check if the user logged in or not -->
          {% if "user_id" not in session %}
          <li><div class='col-xs-4'><a class="btn btn-default navbar-btn btn-navbar-custom" href="/">Register</a></div></li>
          <li><div class='col-xs-4'><a class="btn btn-default navbar-btn btn-navbar-custom" href="/login">Log In</a></div></li>
          {% else %}
          <li><div class='col-xs-4'><a class="btn btn-default navbar-btn btn-navbar-custom" href="/settings">Settings</a></div></li>
          {% endif %}
          {% if "user_id" in session %}
          <form action='/search' method="POST" class="ui-widget navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" id='search-bar' class="form-control" name="destination-keyword" placeholder="Destination">
            </div>
            <!-- search bar icon -->
            <button type="submit" class="btn btn-default "><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </form>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

{% block content %}

  <div>
    <div class="container-fluid">
      <!-- Left side section for trip info -->
      <section class="col-xs-12 col-md-6 col-lg-6">

      </section>

      <!-- Right side section for goole map -->
      <section class="col-xs-12 col-md-6 col-lg-6">

      </section>
        </div>
  </div>

{% endblock %}


  <script>
  $( function() {
    $.get('/get-all-dests', function(response){
      let availableTags = response.dests;
      $( "#search-bar" ).autocomplete({
        source: availableTags
      });
    })
  });
  </script>


{% block footer %}
    <!-- put extra js here -->
{% endblock %}
</body>
</html>