{% extends 'base.html' %}
{% block head %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: calc(100vh - 50px);
    width: 100%; 
    position: absolute; 
    left: 0; 
    z-index: 0;
  }
  section {
    position: relative; 
    z-index: 1;
  }

  .panel-my-trips {
    border-color: #a1c18187;
    background-color: #ffffff80;
  }

  .panel-my-trips >.panel-heading {
    color: #525174;

  }

  .list-group-item {
    border: 1px solid #BCE784;
    background-color: #ffffff40;
  }

  .container-fluid {
    margin: 0;
  }

  .form-control {
    background-color: #f4f5f6;
  }

  .panel-success>.panel-heading {
    border-color: #a1c18187;
    background-color: #a1c18187;
  }

  .sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 50px;
    right: 14px;
    font-size: 30px;
    font-weight: 900;
    margin-left: 50px;
    color: #fe7f2de3;
    background-color: #e8ddddf2;
  }

  .btn-toggle-side-bar {
    font-size: 28px;
    cursor: pointer;
    color: #619B8A;
    float: right;
    background-color: #fff;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

</style>
<!-- set google map as background -->
<div id="map"></div>
{% endblock %}

{% block dropdown %}
<li role="presentation" class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="nav-title">Trip<span><span class="caret"></span>
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
    {% for trip in trips|sort(attribute='created_at') %}
    <li><a href="/trip/{{ trip.trip_id }}">{{ trip.name }}</a></li>
    {% endfor %}
    <li role="separator" class="divider"></li>
    <li><a href="/dashboard/{{ session['user_id'] }}">Dashboard</a></li>
  </ul>
</li>
{% endblock %}


{% block content %}

<div class="container-fluid" >
  <section class="col-xs-12\">
<span class='btn-toggle-side-bar' onclick="openNav()">&#9776;</span>
</section>
</div>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
<div class="container-fluid" >
  <!-- Left side section for trip info -->
  <section class="col-xs-12 col-md-8 col-lg-8">

    <div class='greeting-user-area'>
      <span class='greeting-user'>Hi, {{ session["user_name"] }}</span>
    </div>
    <div class='col-xs-12 col-md-12'>

      <div class='col-xs-6 col-md-4'>
        <div class='panel-body trip-panel-new'>
          <form action='/new-trip-id' method='POST'>
            <div class="input-group">
              <input id='new-trip' class="form-control" type='text' name='trip' placeholder='New trip' required>
              <span class="input-group-btn">
                <button class="btn btn-default btn-helper" type="submit"> + </button>
              </span>
            </div>
          </form>
        </div>
      </div>

      {% for trip in trips|sort(attribute='created_at') %}
      <div class='col-xs-6 col-md-4'>
        <div class='trip-info' data-tripid='{{ trip.trip_id }}'>
          <div class='panel panel-body trip-panel'>
            <div class='row'>
              <div class='col-xs-10'>
                <div class='trip-name'>
                  <a href='/trip/{{ trip.trip_id }}'>{{ trip.name }}
                  <br>
                  <span style="color: #accfec; font-size:1.5rem;">{{ trip.created_at.year }}-{{ trip.created_at.month }}-{{ trip.created_at.day }}</span>
                  </a>
                </div>
              </div>
              <div class='col-xs-2'>
                <button type="button" class="close btn-delete-trip" aria-label="Close" style='margin-right: 3px;'><span aria-hidden="true" data-tripid='{{ trip.trip_id }}' data-tripname='{{ trip.name }}'>&times;</span></button>
                <a href='/edit-trip/{{ trip.trip_id }}'><button class='btn-edit-trip'><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}

    </div>
      </section>
</div>
    </div>


<script>

//Delete a trip
function deleteTrip(evt){
  let target = $(event.target);
  let tripId = target.data('tripid');
  let tripName = target.data('tripname');
  let tripSelector = '.trip-info[data-tripid=' + tripId + ']';
  let msg = 'Do you want to delete your trip: ' + tripName + '?';
  let confirmResponse = confirm(msg);
  if (confirmResponse == true){
    $(tripSelector).remove();

    //Use ajax to delete trip data in the database
    $.post("/delete-trip", {'trip_id':tripId}, function(results){
      console.log(results);
    });
  }
}

$(".btn-delete-trip").on('click', deleteTrip);

</script>


<script>
///////////////
// basic map //
///////////////
  function initMap() {
    let map = new google.maps.Map(document.getElementById('map'), {
      zoom: 2,
      center: {lat: 25, lng: 150}
    });

    let infoWindow = new google.maps.InfoWindow({
        width: 150
    });

    // let bounds  = new google.maps.LatLngBounds();

    // Retrieving the information with AJAX
    // let tripId = $("#trip-info").data('tripid');
    $.get('/trips_dests.json', function (dests) {
        // JSON looks like:
        // {
        //   "21": {
        //     "destLat": "25.0329694", 
        //     "destLng": "121.56541770000", 
        //     "destName": "Taipei City"
        //   }, 
        //   "22": {
        //     "destLat": "25.0329694", 
        //     "destLng": "121.56541770000", 
        //     "destName": "Taipei City"
        //   }, 
        // }
      let count = Object.keys(dests).length;

      if (count !== 0) {
        let dest, marker, content, loc;

        for (let key in dests) {
            dest = dests[key];

            if (dest.destLat && dest.destLng){
              // Define the marker
              marker_position = new google.maps.LatLng(
                                        dest.destLat,
                                        dest.destLng);

              marker = new google.maps.Marker({
                  position: marker_position,
                  map: map,
                  title: 'Destination name: ' + dest.destName,
                  // place means a business, point of interest or geographic location.
                  // The info window will contain information about the place and an option for the user to save it.
                  place: {
                    location: marker_position,
                    query: dest.destName,
                  },
                  icon: {
                    path: google.maps.SymbolPath.CIRCLE,
                    scale: 10,
                    strokeWeight : 2,
                    strokeColor : "#619B8A",
                    rotation : 30,
                    fillOpacity : 1,
                    fillColor : "#619B8A",

                  },
                  // label: {
                  //   text: dest.destName,
                  //   color: "#FE7F2D",
                  //   fontSize: "15px",
                  // },
              });

              // Content for InfoWindow.
              content = "Destination: " + dest.destName

              // Inside the loop we call bindInfoWindow passing it the marker,
              // map, infoWindow, and contentString
              bindInfoWindow(marker, map, infoWindow, content);

            }
        }

        // Opens the InfoWindow when marker is clicked.
        function bindInfoWindow(marker, map, infoWindow, content) {
          marker.addListener('click', function() {
            console.log("the marker is clicked!", content);
            infoWindow.close();
            infoWindow.setContent(content);
            infoWindow.open(map, marker);
          });
        }
      } // end of if statement
    }); // end of ajax get method
  }

  function openNav() {
      document.getElementById("mySidenav").style.display = "block";
  }

  function closeNav() {
      document.getElementById("mySidenav").style.display = "none";
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeD1vIu0C2hIMeiLWDD0_4L28Mj8A4YyM&callback=initMap"></script>

{% endblock %}


{% block footer %}

{% endblock %}