{% extends 'base.html' %}

{% block head %}
<!-- put extra CSS/JS here -->
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style>

</style>
{% endblock %}

{% block dropdown %}
<li role="presentation" class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="nav-title">Trip<span><span class="caret"></span>
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
    {% for trip in trips %}
    <li><a href="/trip/{{ trip.trip_id }}">{{ trip.name }}</a></li>
    {% endfor %}
    <li role="separator" class="divider"></li>
    <li><a href="/dashboard/{{ session['user_id'] }}">Dashboard</a></li>
  </ul>
</li>
{% endblock %}



{% block content %}

<div class="container-fluid container-fluid-map">
<section class="col-xs-12 col-md-6 col-lg-6">
<!-- <h3>Hi, {{ session["user_name"] }}</h3> -->

<div class='row' style="margin-top: 10px;">  <!-- First row -->
  <div class='col-xs-8'>
    <div id='trip-info' data-tripid='{{ trip.trip_id }}'>
      <span class='edit-trip-title' data-tripid='{{ trip.trip_id }}'>Editing:
        <input class='btn-hidden-input-field' type='text' value='{{ trip.name }}'>
      </span>
    </div>
  </div>
  <div class='col-xs-4'>
    <a href='/trip/{{ trip.trip_id }}'><button style="margin-right: 10px" id='btn-add-new-dest' class='btn btn-default btn-md btn-helper'> Finish </button></a>
    <a href='/new-trip/{{ trip.trip_id }}'><button id='btn-add-new-dest' class='btn btn-default btn-md btn-helper'> + New City</button></a>
  </div>
</div>  <!-- First row ends -->

{% set label = {'digit': 1} %}
{% for dest in trip.dests|sort(attribute='created_at') %}
<div class='dest-info panel panel-default' data-destid='{{ dest.dest_id }}' style="margin-top: 10px;">
  <div>
    <div class='recommeded-atts' data-destid='{{ dest.dest_id }}' data-destname='{{ dest.name }}'>Recommendations goes here</div>
  </div>
  <!-- non-breaking space &nbsp;
   -->
  &nbsp;
  <!-- button for deleting -->
  <button class='btn btn-default btn-xs btn-del-minus-mark btn-delete-dest' data-destid='{{ dest.dest_id }}' data-destname='{{ dest.name }}' data-tripid='{{ trip.trip_id }}'> - </button>
  <!-- button for deleting ends -->
  <input class='btn-hidden-input-field' type='text' value='{{ dest.name }}'>

      
<ul class='attraction-list' data-destid='{{ dest.dest_id }}'>
  {% for att in dest.attractions|sort(attribute='created_at') %}
  <li class='attraction-info' data-attractionid='{{ att.attraction_id }}'>
    <!-- button for deleting -->
    <button class='btn btn-default btn-xs btn-del-minus-mark btn-delete-attraction' data-attractionid='{{ att.attraction_id }}' data-attractionname='{{ att.name }}' data-destid='{{ dest.dest_id }}' data-destname='{{ dest.name }}'> - </button>
    <!-- button for deleting ends -->
    <!-- google marker img -->
    <div class='marker-container'>
      <img src='/static/red_marker.png' alt='{{ att.name }}' style='width:27px;'>
      <div class='marker-digit'>{{ label.digit }} </div>
      {% if label.update({'digit': (label.digit + 1)}) %}  {% endif %}
    </div>
    <!-- google marker img ends -->
    <input class='btn-hidden-input-field' type='text' value='{{ att.name }}' size='35'>
      {% for note in att.notes|sort(attribute='created_at') %}
      <div>
        <ul>
          <li class='note-info note-content' data-noteid='{{ note.note_id }}'>
            <!-- if use textarea -->
            <textarea class='textarea-edit' rows='4' cols='50' placeholder="Add notes">{{ note.content }}</textarea>
<!--             <input class='btn-hidden-input-field' type='text' value='{{ note.content }}' size='60'>
 -->          </li>
        </ul>
      </div>

      {% endfor %}<!-- end for att.notes -->
  </li>
  {% endfor %}<!-- end for dest.attractions -->

  <div class='populated-dests'> <!-- newly populated dest -->
  </div> <!-- newly populated dest ends here -->
  <li class='add-new-attraction' style='list-style-type:none;'>
    <div>
      <!-- Button trigger modal -->
      <button class='btn btn-default btn-md btn-add-new-attraction btn-helper' data-toggle="modal" data-target="#addNewAttractionModal" data-destid='{{ dest.dest_id }}' data-destname='{{ dest.name }}' style='display: none;'> + Add new attraction </button>
    </div>
  </li>

</ul>
</div>
{% endfor %} <!-- end for trip.dests -->


<!-- Modal -->
<div class="modal fade" id="addNewAttractionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style='width:500px;'>
    <div class="modal-content">
      <div class="modal-header modal-title-area" >
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add new attraction</h4>
      </div>
      <div class="modal-body">
        <ul id='add-attraction' class='attraction-info'>
          <li id='li-attraction'>
            <div>
              <input type='text' id='add-attraction-name' name='attraction-name' placeholder='New attraction' class='btn-hidden-input-field'>
            </div>
            <div id='note-form' style='margin-top:10px'>
              <div class='note-content'>
                <textarea class='add-note textarea-edit' name='note-content[]' placeholder='Add notes' rows='4' cols='50'></textarea>
              </div>
            </div>
            <div>
              <button id='btn-append-note' class='btn btn-default btn-md'> + More Notes </button>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="btn-save-new-attraction" type="submit" class="btn btn-primary btn-helper" data-dismiss="modal">Save and Close</button>
      </div>
    </div>
  </div>
</div>




</section>
<section class="col-xs-12 col-md-6 col-lg-6 col-map">
  <div id="map"></div>
</section>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeD1vIu0C2hIMeiLWDD0_4L28Mj8A4YyM"></script>

{% endblock %}

{% block footer %}
<script src="/static/js/edit_trip.js"></script>

{% endblock %}
