{% extends 'base.html' %}

{% block head %}
<!-- put extra CSS/JS here -->
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style>


</style>
{% endblock %}

{% block dropdown %}
<li role="presentation" class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="nav-title">Trip<span><span class="caret"></span>
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
    {% for trip in trips %}
    <li><a href="/trip/{{ trip.trip_id }}">{{ trip.name }}</a></li>
    {% endfor %}
    <li role="separator" class="divider"></li>
    <li><a href="/dashboard/{{ session['user_id'] }}">Dashboard</a></li>
  </ul>
</li>

{% endblock %}


{% block content %}
<div class="container-fluid container-fluid-map">
<section class="col-xs-12 col-md-6 col-lg-6">
<!-- <h3>Hi, {{ session["user_name"] }}</h3> -->
<div class='row' style="margin-top: 10px;">  <!-- First row -->
  <div class='col-xs-8'>
    <span class='edit-trip-title' id='trip-info' data-tripid='{{ trip.trip_id }}'>
      Trip: {{ trip.name }}
    </span>
  </div>
  <div class='col-xs-4'> 
    <a href='/edit-trip/{{ trip.trip_id }}'><button style="margin-right: 10px" id='btn-add-new-dest' class='btn btn-default btn-md btn-helper'> Edit </button></a>

    <a href='/new-trip/{{ trip.trip_id }}'><button class="btn btn-default btn-md btn-helper"> + New City</button></a>
  </div>
<!--   <div class='col-xs-1'> 
    <button id='btn-toggle-photo' class='btn btn-default btn-xs'> Show/Hide Photo </button> 
  </div> -->
</div>  <!-- First row ends -->

<!-- <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
 -->


{% set label = {'digit': 1} %}
{% for dest in trip.dests|sort(attribute='created_at') %}
<div>
  <div class="dest-starts">
    <div>
      <span class='dest-title'>{{ dest.name }}
        <div style='display: inline-block;'>
          <span class="glyphicon glyphicon-chevron-down toggle-dest-content btn btn-xs" aria-hidden="true" role="button" data-toggle="collapse" href="#collapse{{ dest.dest_id }}" aria-expanded="true" aria-controls="collapse{{ dest.dest_id }}"></span>
        </div>
      </span>
    </div>
  </div>

<div class="collapse in attraction-box" role="tabpanel" id="collapse{{ dest.dest_id }}" aria-labelledby="collapse{{ dest.dest_id }}">
  <div class='attraction-area'>
    <ul class='row attraction-details' data-destid='{{ dest.dest_id }}'  style="padding-left: 0px;">
    {% for att in dest.attractions|sort(attribute='created_at') %}
  <!--     <div>
   -->
      <li class='attraction-info' data-attractionid='{{ att.attraction_id }}'>
        <div class="row">
          <div class="col-xs-12">
            <div class="thumbnail thumbnail-style">
              <div class="row thumbnail-row">
                <div class="col-xs-9">
                  <div class="row">
                    <div class="col-xs-1">
                                  <!-- google marker img -->
                                  <div class='marker-container'>
                                    <img src='/static/red_marker.png' alt='{{ att.name }}' style='width:27px;'>
                                    <div class='marker-digit'>{{ label.digit }} </div>
                                    {% if label.update({'digit': (label.digit + 1)}) %}  {% endif %}
                                  </div>                    
                    </div>
                    <div class="col-xs-11">
                                  <!-- google marker img ends -->
                                  <!-- boostrap popover on the attraction name -->
                                  {% if att.description %}
                                  <div class='caption'>
                                    <a class='attraction-pop-wiki' tabindex="0" data-trigger="focus" data-toggle="popover" title='{{ att.name }} (Extracted from Wikipedia)' data-content="{{ att.description }}" data-placement="right" data-attractionname='{{ att.name }}'><strong class='attraction-title'>{{ att.name }}</strong></a>
                                  </div>
                                  {% else %}
                                  <div class='caption'>
                                    <strong class='attraction-title'>{{ att.name }}</strong>
                                  </div>
                                  {% endif %}
                    </div>
                                  
                  </div>
                  <div class="row">
                    <div class="col-xs-12">

                                  <!-- boostrap popover on the attraction name ends -->
                                    <ul class="note-list">
                                      {% for note in att.notes|sort(attribute='created_at') %}
                                        {% if note.content and (note.content != ' ') %}
                                        <li class='note-content'>
                                          <div>
                                            <p class="note-para">
<!--                                               <span class="glyphicon glyphicon-paperclip note-icon" aria-hidden="true"></span>
 -->                                            {{ note.content|safe }}</p>
                                          </div>
                                        </li>
                                        {% endif %}
                                      {% endfor %}<!-- end for att.notes -->
                                    </ul>
                    </div>
                  </div>
                </div>

                <div class="col-xs-3" style="padding-right: 0px;">
                  <div class='attraction-photo'>
                    {% if att.photo %} 
                    <div class="crop">
                      <img align="middle" src={{ att. photo }} alt={{ att.name }} style='display :true'>
                    </div>
                    {% endif %} <!-- end for att.photo -->
                    
                  </div>
                </div>

              </div>
            </div>           
          </div>
        </div>
      </li>
  <!--   </div>
   -->
    {% endfor %}<!-- end for dest.attractions -->
    </ul>

  </div>
</div>

{% endfor %} <!-- end for trip.dests -->
</div>

</section>
<section class="col-xs-12 col-md-6 col-lg-6 col-map hidden-print">
  <div id="map"></div>
</section>
</div>
<script>
///////////////
// basic map //
///////////////
  // function initMap() {
  //   let map = new google.maps.Map(document.getElementById('map'), {
  //     zoom: 9,
  //     center: {lat: 37.6653831, lng: -122.4194155}
  //   });

  //   let infoWindow = new google.maps.InfoWindow({
  //       width: 150
  //   });

  //   let bounds  = new google.maps.LatLngBounds();

  //   // Retrieving the information with AJAX
  //   let tripId = $("#trip-info").data('tripid');
  //   $.get('/attractions.json', { 'trip_id': tripId }, function (attractions) {
  //       // JSON looks like:
  //       // {
  //       //   "1": {
  //       //     "attractionLat": "37.7879797", 
  //       //     "attractionLng": "-122.4075169", 
  //       //     "attractionName": "Union Square"
  //       //   }, 
  //       //   "2": {
  //       //     "attractionLat": "37.8079996", 
  //       //     "attractionLng": "-122.4177434", 
  //       //     "attractionName": "Fishermans Warf"
  //       //   }, 
  //       //   "3": {
  //       //     "attractionLat": "37.8269775", 
  //       //     "attractionLng": "-122.4229555", 
  //       //     "attractionName": "Alcatraz Island"
  //       //   }, 
  //       //   "4": {
  //       //     "attractionLat": "37.8199286", 
  //       //     "attractionLng": "-122.4782551", 
  //       //     "attractionName": "Golden Gate Bridge"
  //       //   }
  //       // }
  //     let count = Object.keys(attractions).length;

  //     if (count !== 0) {
  //       let attraction, marker, content, loc;
  //       let totalLat = 0;
  //       let totalLng = 0;

  //       for (let key in attractions) {
  //           attraction = attractions[key];

  //           if (attraction.attractionLat && attraction.attractionLng){
  //             // Define the marker
  //             marker_position = new google.maps.LatLng(
  //                                       attraction.attractionLat,
  //                                       attraction.attractionLng);

  //             marker = new google.maps.Marker({
  //                 position: marker_position,
  //                 map: map,
  //                 title: 'Attraction name: ' + attraction.attractionName,
  //                 // place means a business, point of interest or geographic location.
  //                 // The info window will contain information about the place and an option for the user to save it.
  //                 place: {
  //                   location: marker_position,
  //                   query: attraction.attractionName
  //                 },
  //             });

  //             // Everytime a new marker is added, append to bounds
  //             loc = new google.maps.LatLng(
  //                               marker.position.lat(),
  //                               marker.position.lng()
  //                             );
  //             bounds.extend(loc);

  //             // Content for InfoWindow.
  //             content = "Attraction: " + attraction.attractionName

  //             // Inside the loop we call bindInfoWindow passing it the marker,
  //             // map, infoWindow, and contentString
  //             bindInfoWindow(marker, map, infoWindow, content);

  //             highlightAttraction(marker, map, key);

  //             // Calculate the average LatLng with all given positions
  //             totalLat += parseFloat(attraction.attractionLat);
  //             totalLng += parseFloat(attraction.attractionLng);
  //           }
  //       }

  //       if (totalLng  && totalLat){
  //       map.setCenter({lat: totalLat/count, lng: totalLng/count});
  //       }

  //       map.fitBounds(bounds);       // auto-zoom
  //       map.panToBounds(bounds);     // auto-center

  //       // Opens the InfoWindow when marker is clicked.
  //       function bindInfoWindow(marker, map, infoWindow, content) {
  //         marker.addListener('click', function() {
  //           console.log("the marker is clicked!", content);
  //           infoWindow.close();
  //           infoWindow.setContent(content);
  //           infoWindow.open(map, marker);
  //         });
  //       }

  //       function highlightAttraction(marker, map, key) {
  //         let attSelector = '.attraction-info[data-attractionid=' + key + ']';
  //         marker.addListener('mouseover', function() {
  //           console.log("mouseover the marker of ", key);

  //           $(attSelector).attr('style', 'background-color: #cce6ff;');
  //         });
  //         marker.addListener('mouseout', function() {
  //           $(attSelector).removeAttr('style', 'background-color: #cce6ff;');
  //         });
  //       }

  //     } // end of if statement

  //   }); // end of ajax get method
  // }

  // No need to use the following to call initMap since it's called in the src which contains my key
  // google.maps.event.addDomListener(window, 'load', initMap);
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeD1vIu0C2hIMeiLWDD0_4L28Mj8A4YyM"></script>

{% endblock %}

{% block footer %}
<script src="/static/js/edit_trip.js"></script>
<script type="text/javascript">
  $('#btn-toggle-photo').on('click', function(){
    $('.attraction-photo img').toggle();    
  });


  $("span.toggle-dest-content").on('click', function(evt) {
    console.log(evt.target);
    if ($(evt.target).hasClass("glyphicon-chevron-down")){
      $(evt.target).removeClass("glyphicon-chevron-down");
      $(evt.target).addClass("glyphicon-chevron-up");
    } else {
      $(evt.target).removeClass("glyphicon-chevron-up");
      $(evt.target).addClass("glyphicon-chevron-down");
    }
  });


  //  Opt-in functionality
  // For performance reasons, the Tooltip and Popover data-apis are opt-in, meaning you must initialize them yourself.
  // One way to initialize all popovers on a page would be to select them by their data-toggle attribute:
  $(function () {
    $('[data-toggle="popover"]').popover({
      container: 'body'
    })
  })



</script>

{% endblock %}